html, div, p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: monospace, Calibri;
}
img {
    margin: 0;
    padding: 0;
    display: block;
}
a {
    text-decoration: none;
}
a:link {
    color: inherit;
}
a:visited {
    color: inherit;
}
a:hover {
    font-weight: bold;
}
body {
    background-image: url("../image/MainBGPattern.png");
    background-color: #e2d9c4;
}
.text {
    border-left: dashed 1px #f85f43;
    padding-left: 10px;
}
#wrapper {
    display: flex;
    background-color: #4b3325;
    width: 75%;
    min-width: 600px;
    margin: 40px auto 40px auto;
    padding: 10px;
}
#leftColumn {
    float: left;
    width: 320px;
    text-align: center;
    margin-right: 10px;
}
#leftHead, #leftHead p {
    background-color: #f85f43;
    font-size: 20px;
    font-family: Calibri;
}
.subpage {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
    background-color: #f85f43;
    overflow: hidden;
    min-height: 32px;
}
.subpage:hover {
    background-color: #ffd700;
}
.subpage span {
    display: block;
    float: left;
    flex: 1;
}
.subpage img {
    float: left;
}
#rightColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#head {
    background-color: #f85f43;
    display: flex;
    overflow: hidden;
}
#title {
    font-family: Calibri;
    flex: 1;
    padding: 5px 0 0 10px;
    text-align: left;
    float: left;
    font-size: 30px;
}
#timeSection {
    padding: 5px;
    float: right;
    background: #f5deb3;
    max-width: 50%;
}
#body {
    background-color: #fdfdf1;
    padding: 10px;
    height: auto;
    flex: 1;
}
#bodyEnd {
    padding: 10px;
    background-color: #f5deb3;
}
