html, div, p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: monospace;
}
img {
    margin: 0;
    padding: 0;
    display: block;
}
body {
    background-color: #e2d9c4;
}
.text {
    border-left: dashed 1px #f85f43;
    padding-left: 10px;
}
#wrapper {
    display: flex;
    background-color: #4b3325;
    width: 75%;
    min-width: 720px;
    margin: 40px auto;
    padding: 10px;
}
#leftColumn {
    float: left;
    width: 320px;
    text-align: right;
    margin-right: 10px;
}
#leftHead, #leftHead p {
    background-color: #f85f43;
    font-size: 20px;
    text-align: center;
}
.subpage {
    margin-top: 10px;
    padding: 8px;
    font-size: 12px;
    background-color: #f85f43;
}
#rightColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#head {
    background-color: #f85f43;
    display: flex;
    overflow: hidden;
}
#title {
    flex: 1;
    padding: 5px 0 0 10px;
    text-align: left;
    float: left;
    font-size: 30px;
}
#timeSection {
    padding: 5px;
    float: right;
    background: grey;
    max-width: 50%;
}
#body {
    background-color: #fdfdf1;
    padding: 10px;
    height: auto;
    flex: 1;
}
